name: Run ORB Analyzer Scheduled

on:
  schedule:
    # Run at 15:45 Budapest time (14:45 UTC)
    - cron: '45 14 * * 1-5'
    # Run at 15:50 Budapest time (14:50 UTC)
    - cron: '50 14 * * 1-5'
    # Run at 15:55 Budapest time (14:55 UTC)
    - cron: '55 14 * * 1-5'
    # Run at 16:00 Budapest time (15:00 UTC)
    - cron: '0 15 * * 1-5'
    # Run at 16:05 Budapest time (15:05 UTC)
    - cron: '5 15 * * 1-5'
    # Run at 16:10 Budapest time (15:10 UTC)
    - cron: '10 15 * * 1-5'
    # Run at 16:15 Budapest time (15:15 UTC)
    - cron: '15 15 * * 1-5'
    # Run at 16:20 Budapest time (15:20 UTC)
    - cron: '20 15 * * 1-5'
    # Run at 16:25 Budapest time (15:25 UTC)
    - cron: '25 15 * * 1-5'
    # Run at 16:30 Budapest time (15:30 UTC)
    - cron: '30 15 * * 1-5'
  # Allow manual trigger from GitHub website
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install -r requirements.txt
      - run: python orb_analyzer_WITH_LOGGING.py
      - uses: actions/upload-artifact@v3
        with:
          name: trading_logs
          path: trading_logs/
          retention-days: 30
